<div class="change-password-container">
  <app-detail
  [subtitle]="'Ingresa tu'"
  [title]="'nueva contraseña'"
  [detail1]="'Hemos enviado a su correo electrónico ' + maskedEmail + ' un código de verificación para cambiar la contraseña de su cuenta.'"
  [detail2]="'Revisa tu carpeta de spam y promociones si no aparece en tu bandeja de entrada principal.'"
></app-detail>


  <mat-card class="change-password-card">
    <mat-card-content class="change-password-card__content">
      <div class="change-password-card__form-container">
        <form
          [formGroup]="changePasswordForm"
          class="change-password-form"
          (ngSubmit)="onSubmit()"
        >
          <label for="code" class="change-password-form__label"
            >Código de verificación</label
          >
          <input
            matInput
            type="text"
            id="code"
            name="code"
            class="change-password-form__input"
            formControlName="code"
          
          />
          @if(changePasswordForm.get('code')?.touched &&
          changePasswordForm.get('code')?.hasError('required')){
          <mat-error> El código de verificación es requerido </mat-error>
          }

          <label for="newPassword" class="change-password-form__label"
            >Nueva contraseña</label
          >
          <div class="change-password-form__input-container">
            <input
            #codeInput
              matInput
              type="password"
              id="newPassword"
              name="newPassword"
              class="change-password-form__input"
              [type]="hideNewPassword ? 'password' : 'text'"
              formControlName="newPassword"
            />
            <button
              type="button"
              class="change-password-form__toggle-password"
              (click)="toggleNewPassword()"
            >
              <mat-icon>{{
                hideNewPassword ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
          </div>

          @if( changePasswordForm.get('newPassword')?.touched &&
          changePasswordForm.get('newPassword')?.hasError('required')){
          <mat-error> La nueva contraseña es requerida </mat-error>}

          <label for="confirmPassword" class="change-password-form__label"
            >Repetir contraseña</label
          >
          <div class="change-password-form__input-container">
            <input
              matInput
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              class="change-password-form__input"
              [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPassword"
            />
            <button
              type="button"
              class="change-password-form__toggle-password"
              (click)="toggleConfirmPassword()"
            >
              <mat-icon>{{
                hideConfirmPassword ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
          </div>
          @if( changePasswordForm.get('confirmPassword')?.touched &&
          changePasswordForm.get('confirmPassword')?.hasError('required')){<mat-error>
            La repetición de la contraseña es requerida
          </mat-error>
          } @if(changePasswordForm.hasError('notMatching') &&
          changePasswordForm.get('confirmPassword')?.touched){
          <mat-error style="margin-top: 17px">
            Las contraseñas no coinciden
          </mat-error>
          }

          <button
            mat-raised-button
            type="submit"
            class="change-password-form__submit-button"
            [disabled]="changePasswordForm.invalid || loading"
          >
            Cambiar contraseña
          </button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
